.main-menu {
	grid-row: 1;
	grid-column: 1 / span 20;
	font-family: "JetBrains Mono" !important;
	overflow: hidden;
}

.bp4-navbar-heading {
	font-size: var(--font-small);
	font-weight: bold;
	line-height: calc(var(--size-header) - 10px);
	vertical-align: text-bottom;
	padding-top: 2px;
}

.bp4-navbar,
.bp4-navbar-group {
	height: var(--size-header);
	padding: 0 0 0 5px;
	background-color: var(--color-light) !important;
	width: 100%;
}

.bp4-navbar-divider {
	margin: 0 5px;
}

.menu-icon {
	margin-right: 10px;
	width: calc(var(--size-header) - 10px);
	height: calc(var(--size-header) - 10px);
}

.custom-menu {
	background-color: var(--color-light);
	border-top: 1px solid var(--color-gray-c);
	border-left: 1px solid var(--color-gray-c);
}

.menu-root-item {
	background-color: var(--color-light) !important;
	color: var(--color-dark) !important;
	box-shadow: unset !important;
	font-weight: bold;
	font-size: var(--font-small);
}

.menu-item {
	margin: 0;
	padding-left: 5px;
}

.nav-bar-window-control {
	padding: 0 15px;
	box-shadow: unset !important;
	background-color: var(--color-light) !important;
}

.nav-bar-window-control span {
	margin: 0 !important;
	color: var(--color-dark) !important;
}

.nav-bar-window-split {
	margin-left: auto;
}

.close-btn {
	background-color: var(--color-alert) !important;
}

.close-btn span {
	color: var(--color-light) !important;
}