@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

@font-face {
	font-family: "JetBrains Mono";
	src: url('static/font/jb-mono/ttf/JetBrainsMono-Regular.ttf') format('truetype'),
		url('static/font/jb-mono/woff2/JetBrainsMono-Regular.woff2') format('woff2');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "JetBrains Mono";
	src: url('static/font/jb-mono/ttf/JetBrainsMono-Bold.ttf') format('truetype'),
		url('static/font/jb-mono/woff2/JetBrainsMono-Bold.woff2') format('woff2');
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: "JetBrains Mono";
	src: url('static/font/jb-mono/ttf/JetBrainsMono-Italic.ttf') format('truetype'),
		url('static/font/jb-mono/woff2/JetBrainsMono-Italic.woff2') format('woff2');
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: "JetBrains Mono";
	src: url('static/font/jb-mono/ttf/JetBrainsMono-BoldItalic.ttf') format('truetype'),
		url('static/font/jb-mono/woff2/JetBrainsMono-BoldItalic.woff2') format('woff2');
	font-style: italic;
	font-weight: bold;
}

@font-face {
	font-family: "JetBrains Mono";
	src: url('static/font/jb-mono/ttf/JetBrainsMono-ExtraBold.ttf') format('truetype'),
		url('static/font/jb-mono/woff2/JetBrainsMono-ExtraBold.woff2') format('woff2');
	font-style: normal;
	font-weight: bolder;
}

@font-face {
	font-family: "JetBrains Mono";
	src: url('static/font/jb-mono/ttf/JetBrainsMono-ExtraBoldItalic.ttf') format('truetype'),
		url('static/font/jb-mono/woff2/JetBrainsMono-ExtraBoldItalic.woff2') format('woff2');
	font-style: italic;
	font-weight: bolder;
}

@font-face {
	font-family: "JetBrains Mono";
	src: url('static/font/jb-mono/ttf/JetBrainsMono-Light.ttf') format('truetype'),
		url('static/font/jb-mono/woff2/JetBrainsMono-Light.woff2') format('woff2');
	font-style: normal;
	font-weight: lighter;
}

@font-face {
	font-family: "JetBrains Mono";
	src: url('static/font/jb-mono/ttf/JetBrainsMono-LightItalic.ttf') format('truetype'),
		url('static/font/jb-mono/woff2/JetBrainsMono-LightItalic.woff2') format('woff2');
	font-style: italic;
	font-weight: lighter;
}

:root {
	--color-primary: #ff5a24;
	--color-secondary: #884dec;
	--color-light: #f3f3f3;
	--color-dark: #4d4d4d;
	--color-alert: #ff513e;
	--color-warning: #f4dd3a;
	--color-info: #4fc7a6;
	--color-good: #46dc1a;
	--color-bad: #d60a0a;
	--color-neon: #fc00c8;

	--color-gray-1: #111111;
	--color-gray-2: #222222;
	--color-gray-3: #333333;
	--color-gray-4: #444444;
	--color-gray-5: #555555;
	--color-gray-6: #666666;
	--color-gray-7: #777777;
	--color-gray-8: #888888;
	--color-gray-9: #999999;
	--color-gray-a: #aaaaaa;
	--color-gray-b: #bbbbbb;
	--color-gray-c: #cccccc;
	--color-gray-d: #dddddd;

	--font-small: .8rem;
	--font-medium: 1.25rem;
	--font-large: 2rem;

	--size-header: 30px;
	--size-status-bar: 25px;
}

body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
}

#root {
	width: 100%;
	height: 100%;
}

.grid-container {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(20, 1fr);
	grid-template-rows: var(--size-header) 2fr 1fr var(--size-status-bar);
	place-items: stretch;
	place-content: stretch;
}